# Place me in /etc/systemd/system and run systemctl enable cd00rd.service
# We require the networking to be fully up so its not enough to have iptables we also need netctl

[Unit]
Description=cd00r daemon
Requires=iptables.service
Requires=netctl.service
After=iptables.service
After=netctl.service

[Service]
Type=simple
ExecStart=/usr/bin/cd00rd
User=cd00r
Group=cd00r

[Install]
WantedBy=multi-user.target
